/* HEADER */

.landing-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
}

.burger-button {
  display: none;
}

/* BODY  */

.landing-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: white;
  height: 600px;
  padding: 0 30px;
}

@media (max-width: 768px) {

  .landing-header {
    justify-content: space-between;
  }

  .landing-navigation a {
    display: none;
  }
  .landing-body {
    grid-template-columns: 1fr;
    height: 50vh;
  }

  .burger-button {
    display: inLine;
  }
}

 /* NAVIGATION */

 .landing-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 30px;
}

.landing-navigation a {
  font-size: 85px;
  list-style: none;
  text-decoration: none;
  color: #ca5b93de;
  text-shadow: 1px 2px #174668;
}

.landing-navigation a:nth-child(1) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.5s;
}

.landing-navigation a:nth-child(2) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.6s;
}

.landing-navigation a:nth-child(3) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.7s;
}

.landing-navigation a:nth-child(4) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.8s;
}

.landing-navigation a:hover {
  color: rgba(64, 201, 235, 0.884);
  transform: scale(1.03)
}

@keyframes fadeIn {
  from {opacity: 0}
	to {opacity: 1}
}

/* IMAGE */

.landing-image {
  width: 100%;
  padding-right: 50px;
  margin: 0 auto;
}
