/* HEADER */

.landing-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeDown;
  animation-delay: 2s;
  transform: translateY(20%);
  z-index: 0;
}

.burger-button {
  display: none;
}

.burger-button:hover {
  transform: scale(1.3)
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(0%);
  }
  to {
    opacity: 1;
    transform: translateY(20%);
  }
}
/* BODY  */

.landing-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: white;
  height: 500px;
  padding: 20px 30px;
}

@media (max-width: 768px) {

  .landing-header {
    justify-content: space-between;
  }

  .landing-navigation a {
    display: none;
  }

  .landing-body {
    grid-template-columns: 1fr;
    height: 50vh;
  }

  .burger-button {
    display: inline;
  }
}

 /* NAVIGATION */

 .landing-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 30px;
  opacity: .8;
}

.landing-navigation a {
  font-size: 85px;
  list-style: none;
  text-decoration: none;
  color: #ce6897;
  text-shadow: 1px 2px #174668;
}

.landing-navigation a:nth-child(1) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.5s;
}

.landing-navigation a:nth-child(2) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.6s;
}

.landing-navigation a:nth-child(3) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.7s;
}

.landing-navigation a:nth-child(4) {
  opacity: 0;
  animation: 1s ease 1s forwards;
  animation-name: fadeIn;
  animation-delay: 1.8s;
}

.landing-navigation a:hover {
  color: rgba(64, 201, 235, 0.884);
  transform: scale(1.03)
}

@keyframes fadeIn {
  from {opacity: 0}
	to {opacity: 1}
}

@media (max-width: 1200px) {
  .landing-navigation a {
    font-size: 78px;
  }
}

@media (max-width: 1030px) {
  .landing-navigation a {
    font-size: 73px;
  }
}

@media (max-width: 930px) {
  .landing-navigation a{
    font-size: 68px;
  }
}

/* IMAGE */

.landing-image {
  display: block;
  width: 100%;
  position: relative;
  left: -220px;
  padding-right: 50px;
  margin: 0 auto;
  animation: moveImage 1s ease forwards;
  animation-delay: 1.5s;
  -webkit-animation: moveImage 1s ease forwards;
  -webkit-animation-delay: 1.5s;
  z-index: 0;
}

@keyframes moveImage {
  from {left: -220px}
  to {left: 0px}
}

@media all and (max-width: 768px) {
  .landing-image {
    position: static;
    animation: none;
    animation-delay: none !important;
    -webkit-animation: none !important;
    -webkit-animation-delay: none;
  }
}
