/* HEADER */

.landing-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

/* BODY  */

.landing-body {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;
  color: white;
  height: 600px;
  padding: 0 30px;
}

 /* NAVIGATION */

 .landing-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 30px;
}

.landing-navigation a {
  font-size: 85px;
  list-style: none;
  text-decoration: none;
  color: #ca5b93de;
  text-shadow: 1px 2px #174668;
}

/* IMAGE */

.landing-image {
  width: 100%;
  padding-right: 50px;
  margin: 0 auto;
}
