.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
}

.menu-intro {
  display: block;
  width: 500px;
  text-align: center;
}
@media (max-width: 768px) {
  .menu-intro {
    width: 300px;
  }
}

.menu-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 5px;
}

.pdf-container {
  display: grid;
  justify-items: center;
  height: 1000px;
}

.menu-img {
  display: block;
  height: 100%;
  width: 100%;
}

/* BOXES */

.boxes-wrapper {
  display: flex;
  flex-direction: column;
  margin: 50px 0px;
}

.box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 50px;
  margin: 20px
}

@media (max-width: 678px) {
  .box-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 10px;
  }
}
