.head-container {
  display: grid;
  gap:  2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.head-text {
  width: 100%
}

.when-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  margin: 20px 0;
}

.google-map {
  height: 100%;
  width: 100%;
}

@media (max-width: 850px) {
  .head-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}