.experience-container {
  display: flex;
  flex-direction: column;
}

.experience-heading {
  text-align: center;
  letter-spacing: 1px;
}

.experience-heading h1 {
  border-bottom: 4px solid black;
  margin: 20px 30%;
}



.experience-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 2rem;
  text-align: center;
}