body {
  margin: 0;
  font-family: 'Oswald', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* QUICK FIX TO STICKY FOOTER PROBLEM */
#root {
  padding-bottom: 57px;
}

@media (max-width: 768px) {
  #root {
    padding-bottom: 100px;
  }
}

h1 {
  display: block;
  font-size: 2.2em;
  font-weight: 380;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  border-bottom: 3px solid currentColor;
}

h2 {
  display: block;
  font-size: 1.3em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  font-weight: 200;
}

h3 {
  display: block;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 2px;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
