.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  /* border: 1px solid black; */
  height: 100px;
  width: 100%;
  background: none;
}

.header-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 50px;
}

.header-nav li {
  list-style: none;
  text-decoration: none;
  padding: 20px;
}

.header-nav li:hover {
  color: #f891c5ef;
}

.header-logo {
  padding-left: 50px;
}

.burger-menu {
  padding-right: 50px;
  display: inline-block;
}

@media (min-width: 768px) {
  .burger-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
  }

  .header-container {
    height: 80px;
  }
}

/* FOOTER */

.footer-div {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  background-color: black;
}

.footer-container a {
  color: white;
  text-decoration: none;
}
.footer-container a:hover {
  color: #f891c5ef;
}

@media (max-width: 768px) {
  /* .footer-div {
    bottom: 10%;
  } */

  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
