.link-logo {
  display: inline-block;
}

.img-cover {
  background-size: cover !important;
  border-radius: 50%
}

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  padding: 3px 25px;
  border-radius: 2px;
  border-color: #000;
  font-size: inherit;
  font-family: "Oswald";
  line-height: 1.5;
  color: inherit;
  background-color: inherit;
}

.btn:hover {
  background-color: pink;
}

.social-bar {
  display: flex;
  justify-content: flex-end;
}

.social-bar a {
  padding: 5px;
}